<?xml version="1.0" encoding="utf-8"?>
<manifest package="samhalperin.com.canvasexercises"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".index.IndexActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter01.ScreenSizeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".chapter03.LineActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".chapter03.PathActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".chapter03.TriangleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".chapter03.TriangleFillActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".chapter03.DashedLineActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".chapter04.TextActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".chapter04.CustomFontActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".chapter04.TextAlignActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".chapter04.TextBaselineActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".chapter04.TextVerticalAlignActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".chapter04.TextShadowActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".chapter05.BarChartActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".chapter06.CircleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".chapter06.OvalActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".chapter06.ArcActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".chapter06.CircularChartActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".chapter07.GradientActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".chapter07.GradientBallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".chapter07.SweepGradientActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".chapter08.TransformActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".chapter08.ChartActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".chapter09.TriangleMatrixActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".chapter09.MatrixChartActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".chapter09.CTMBadExampleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".chapter09.CTMFixedExampleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".chapter10a.ChartMTActivity"
            android:label="@string/title_activity_chart_mt"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".chapter10b.ProgressActivity"
            android:label="@string/title_activity_progress"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".chapter10c.ChartActivitySV"
            android:label="@string/title_activity_progress"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
